* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', 'Montserrat', sans-serif;
    background-color: #232328;
    background: rgb(71, 84, 135);
    background: linear-gradient(67deg, rgba(71, 84, 135, 1) 6%, rgba(50, 46, 128, 1) 29%, rgba(58, 75, 142, 1) 49%, rgba(50, 46, 128, 1) 75%, rgba(71, 84, 135, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

.container {
    color: aliceblue;
    width: 50rem;
    font-size: larger;
    font-weight: 600;
}

.container input {
    font-size: larger;
    font-weight: 800;
}

p {
    color: rgb(97, 255, 97);
    font-size: 30px;
    font-weight: bold;
}